/* figtree-regular - latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/figtree-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/figtree-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* figtree-600 - latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('./fonts/figtree-v1-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/figtree-v1-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* figtree-700 - latin */
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: 'Figtree';
    src: local(''),
         url('./fonts/figtree-v1-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/figtree-v1-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



html {
    text-align: center;
    font-family: "Figtree", sans-serif;
    font-size: min(20px, 5vw);
    line-height: min(20px, 2.5);
}
table {
    padding-top: .5rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
th {
    font-size: min(15px, 2.5vw);
    border-style: solid;
    border-width: 0.01vw;
    padding: .5rem;
}
.highlight {
     background-color: yellow !important;
}
.selected {
    background-color: rgb(73, 174, 208);
}
input {
    border-color: black;
    border-width: .1vw;
    font-size: min(20px, 5vw);
    border-radius: .35vw;
}